/* HERO SECTION */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.hero h2 {
    font-size: 42px;
    color: white;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    border-radius: 8px;
}

/* MAIN SECTIONS */
.section {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;

}

#about_section {
    padding-top: 5rem;
}

.section-title {
    font-size: 28px;
    margin-bottom: 15px;
    color: #4a004a;
}

.section p {
    font-size: 18px;
    line-height: 1.7;
    color: #444;
}

.values-commitment{
    margin-top: 20px;
}

/* LIST STYLING */
.values-list,
.vision-list {
    font-size: 18px;
    line-height: 1.7;
    color: #333;
    padding-left: 20px;
}

.vision-summary {
    margin-top: 20px;
    font-size: 18px;
    color: #444;
}

/* TEAM SECTION */
.team-section {
    text-align: center;
}

.team-intro {
    font-size: 18px;
    color: #444;
    margin-bottom: 30px;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

.team-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.team-card:hover {
    transform: translateY(-5px);
}

.team-card h4 {
    color: #4a004a;
    margin-bottom: 10px;
    font-size: 20px;
}

.team-card p {
    color: #555;
    font-size: 16px;
}
