/* GALLERY SECTION */
.gallery-section {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
    text-align: center;
}

.gallery-title {
    font-size: 32px;
    margin-bottom: 10px;
}

.gallery-text {
    color: #555;
    margin-bottom: 40px;
}

/* IMAGE GRID */
.gallery-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

}

.gallery-card {
    transition: .3s;
}

.gallery-card:hover {
    transform: scale(110%);
}

.gallery-card img {
    width: 100%;
    border-radius: 8px;
}
